<div id="title">
	
	<h1> {{title}}</h1>
	<h2> {{subtitle}} </h2>
	<p>{{web}}</p>
</div>

<article>
	<h2>Sobre mua</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae est placerat felis dictum maximus ac vitae massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus gravida tellus sed ex dignissim, id hendrerit eros placerat. Mauris et enim id mauris varius ullamcorper. Donec volutpat orci eget dui dapibus efficitur. Quisque urna est, sodales a enim sit amet, fringilla dignissim velit. Curabitur sagittis eget justo vitae pulvinar. Fusce ut justo ex. Pellentesque et porttitor turpis. Ut suscipit bibendum consectetur.
	</p>
</article>
